.body, html{
    font-family: "Sans Serif Collection" !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Arial Black";
}

/* BEGIN: Color definition */
.colour-shamrock{
    color: #03AC13;
}

.colour-lightgray{
    color: #d3d3d3;
}

.colour-red{
    color: #FF0000;
}
/* END: Color definition */

/* BEGIN: CSS for main NAV  */
.separator{
    color: black;
    text-decoration: none;
    font-weight: 100;
}

a.nav-link.nav-link {
    text-decoration: none;
    margin-left: 20px;
    font-family: "Roboto";
}

.active{
    color: #03AC13 !important;
    font-weight: bold;
}

a.nav-link.nav-link:HOVER {
    color: #03AC13;
    font-weight: bold;
}
/* END: CSS for main NAV  */

/* BEGIN: CSS for Home Page  */
.logo {
    width:190px;
    height:300px;
  }
/* END: CSS for Home Page  */

/* BEGIN: CSS for Contact Page  */
iframe{
    width: 100%;
    height: 100%;
    border: 0;
  }
  
#iframeMap{
    height: 450px;
}

/* END: CSS for Contact Page  */


/* BEGIN: CSS for Footer  */
/* Social Icons */
.social-icon {    
    font-size: 15px;
    width: 60px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 50%;
    padding: 5px 9px 5px 9px;
}
  
.social-icon:hover {
    opacity: 0.7;
}

.social-icon-facebook {
    background: #3B5998;
    color: white;
}

.social-icon-instagram {
    background: #ea4c89;
    color: white;
}

.font-dancing{
    font-family: 'Dancing Script', cursive !important;
    font-size: 20px; 
}
/* END: CSS for Footer  */


/* CSS for the Mini-Game (by Joao Cordio) */
#contentPlay{
    color: #fff;
    max-width: 100% !important;
    background-image: url("../assets/images/game/diagonal_dot.webp");
    background-repeat: repeat;
}
    
#contentPlay img{  
    cursor: pointer;
}
    
.cardgame{
    width:18rem;
}
    
.logo {
    width:190px;
    height:300px;
}
    
/* .shake and @keyframes shake was created to help on the mini game*/
.shake {
    animation: shake 0.5s infinite alternate;
    pointer-events: none;
    opacity: 0.5;
}
     
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* CUSTOM BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 100px ) {
  /* that helps the game to have a better view on mobile */
  #imageGame0, #imageGame1, #imageGame2{
    height: 100px;
    width: 80px;
  }
}

/* MD breakpoint*/
@media (min-width: 768px) {
  #imageGame0, #imageGame1, #imageGame2{
    height: 100%;
    width: 100%;
  }
}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM DISPLAY */
	  .d-lg-none { 
      display: none!important; 
    }
    #imageGame0, #imageGame1, #imageGame2{
      height: 100%;
      width: 100%;
    }
}

.text-justify{
    text-align: justify;
}

.quote{
    font-size: x-large;
}

.quote:hover{
    cursor: pointer;
}

.quotes{
    background-color: #f0eded;
    border-radius: 5%;
    font-style: italic;     
}

.link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: relative;
  }
  
  .link:hover:after {
      content: "Press to read more";
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ececec;
      color: black;
      padding: 5px 10px;
      border-radius: 5px;
      z-index: 1;
      font-size: 14px;
      width: 150px;
      text-align: center;
  }

#quoteText {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  
  #quoteStorage {
    display: none; /* This is handled by React state */
  }
  
  .popup {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    text-align: left;
  }


  /* Styling for dog images used on our dogs page. Set a fixed width, and set to fit*/
.dog-img {
  width: 70%;
  height: auto;
}

  /* Add a zoom on hover effect */
  .dog-img:hover {
    transform: scale(0.9); 
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  /* Styling for the image in the modal; Set imaage to take up full width and height of its container,*/
  #dogModalImage {
    width: 100%;
    height: auto; 
    object-fit: cover;
  }

  /* Add some space at the top of button used on available puppes page */
  .btop-margin {
    margin-top: 20px;
  }

  /* Custom List on BreedHealth */
  .custom-list {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 20px; 
  }
  
  .custom-list li {
    position: relative; 
    margin-bottom: 10px; 
    padding-left: 30px; 
    padding-right: 20px; 
  }
  .custom-list li:before {
    content: '🐾'; /* Unicode character for the custom bullet point */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  /* Breed Health */
  .table-bordered thead tr th {
    background-color: black;
    color: white;
  }